.node {
    stroke: #222;
    stroke-width: 1.5px;
}

.node.movie {
    fill: #66CC99;
}

.node.actor {
    fill: #3399FF;
}

.link {
    stroke: #999;
    stroke-opacity: .6;
    stroke-width: 1px;
}
